body, html{
    height: 100vh;
    width: 99vw;
    display:grid;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
/* encabezado para q se mantenga fijo */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: #333;
    position: fixed; /* Fija el encabezado */
    top: 0; /* Lo coloca en la parte superior de la página */
    width: 100vw; /* Ocupa todo el ancho de la pantalla */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}



header nav ul {
    list-style: none;
    display: flex;
}

#botonesHeader{
    margin-left: 5vw;
}

header nav ul li {
    /* margin-left: - 60px; */
    margin-right: 1vw;
    /* width: 6vw; */

}


header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    white-space: nowrap;
    font-size: large;
}

header nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 5px;
}

a:link{
    
    text-decoration:none;
}

/* #iniciarSesion{
    position:absolute;
    top: 30px;
    right: 140px;
    width: 35px;
} */

nav{
    float:right;
    left: -5vw;
}
#btnIniciarSesion{
    background-color: #333;
    border:2px solid black;
    color:white;
    /* padding:0.5em 1em; */
    /* text-align: right; */
    /* width: 4vw; */
}

/* Sección del video de fondo */

.video-section {
    position: relative;
    width:99.6vw;
    height: 95vh;
    overflow: hidden;
    margin-left: -1vw;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    
}
.textoVideo{
    position: absolute;
    transform: translateX(20%);
    margin-top:30vh;
    color:white;
    /* background-color: #e64a19; */
    
    z-index: 2;
}
.textoPequeño, .textoGrande{
    color:rgb(255, 255, 255);
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    font-stretch: extra-expanded;
    /* margin:2%; */
    margin-bottom: 5vh;
    /* font-size: calc(1.2vh + 1vw); */
    text-shadow: 0.5rem 0.5rem 1rem rgb(107, 43, 1), -0.5rem -0.5rem 1rem rgb(124, 60, 1),0.4rem -0.4rem 1rem rgb(0, 0, 2),-0.4rem 0.4rem 1rem rgb(0, 0, 0);
    /* font-size:large; */
}
.textoPequeño{
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    font-stretch: expanded;

    width: 50vw;
    margin-left: 10vw;
    text-shadow: 0.2rem 0.2rem 0.3rem rgb(182, 74, 2), -0.2rem -0.2rem 0.3rem rgb(165, 80, 0),0.2rem -0.2rem 0.3rem rgb(180, 87, 0),-0.2rem 0.2rem 0.3rem rgb(138, 74, 2);
}
.suscribirse-btn {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.suscribirse-btn a {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}

.suscribirse-btn a:hover {
    background-color: #e64a19;
}

/* Sección de niveles */
.niveles {
    padding: 50px;
    text-align: center;
}

.titulos-niveles {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    transform: translateY(-200%);
}

.titulos-niveles button {
    background-color: #333;
    color: white;
    padding: 10px 80px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.titulos-niveles button:hover {
    background-color: #555;
}

.imagenes-niveles {
    display: flex;
    justify-content: space-between;
    transform: translateY(-59%);
}

.nivel {
    display: none;
    width: 100%;
}

.mosaico {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.categoria {
    position: relative;
    margin: 10px;
    flex: 1;
    max-width: 300px;
}

.categoria img {
    width: 100%;
    height: auto;
    display: block;
}

.titulo-imagen {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}
/* Estilos para los botones activos */
.titulos-niveles button.activo {
    background-color: #ff5f03; /* Color de fondo amarillo para el botón activo */
    color: #333; /* Color del texto */
}


main{
    width: 98vw;
}
footer{
    width: 98.5vw;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(36, 103, 163); 
    /* position:fixed; */
    bottom: 0;
}


/* --------------perfil ------------------ */
.progress-container {
    width: 100%;
    background-color: #d6d6d6;
    border-radius: 5px;
    overflow: hidden;
}
.progress-bar {
    width: 0;
    height: 30px;
    background-color: blue;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 5px;
}
/* -------------- registro--------------- */
.form-container {
    display: flex;
    justify-content: center;
    
}
/* ------------------------------------------ */
@media only screen and (max-width: 767px) {
    
    .mainRegistrarse form{
        width: 90vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    
}