<!doctype html>
<html lang="es">

    <head>
        <title>SmartFit</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS v5.2.0-beta1 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <!-- Bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"/>
		<link rel="stylesheet" href="../static/style.css" />
        <!--<link rel="stylesheet" href="./style.css" />-->
    </head>

    <body>
        <script src="../static/script.js"></script>
		<header class="headerChats" >
			<div class="logo">
				<a href="/"> 
					<img src="../static/imagenes/LOGO.jpg" alt="smartfit logo" style="height: 80px;">
				</a>
			</div>
			<nav class="navbar navbar-expand-sm col-4 navbar-dark">
				<div class="container-fluid botonesHeader">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="collapsibleNavbar">
						<ul class="navbar-nav">
							<li class="nav-item"><a class="nav-link" href="chats.html">Chats</a></li>
							
							
								<li class="nav-item"><a class="nav-link" href="/perfil">Perfil</a></li>
								<li class="nav-item"><a class="nav-link" href="calcular_imc.html">Calcular IMC</a></li>
								
								
								
							
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<main class="mainChats" style="margin-top:80px">
			<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

			<div class="container">
				<div class="row clearfix">
					<div class="col-lg-12">
						<div class="card chat-app">
							<div id="plist" class="people-list">
								
								<ul class="list-unstyled chat-list mt-2 mb-0">
									<li class="clearfix">
										
										<div class="about">
											<div class="name">Vincente Porter</div>
											<div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>                                            
										</div>
									</li>
									<li class="clearfix">
										
										<div class="about">
											<div class="name">Aiden Chavez</div>
											<div class="status"> <i class="fa fa-circle online"></i> online </div>
										</div>
									</li>
									<li class="clearfix">
										
										<div class="about">
											<div class="name">Miguel Thomas</div>
											<div class="status"> <i class="fa fa-circle online"></i> online </div>
										</div>
									</li>                                    
									<li class="clearfix">
										
										<div class="about">
											<div class="name">Cristian Kelly</div>
											<div class="status"> <i class="fa fa-circle offline"></i> left 10 hours ago </div>
										</div>
									</li>
									<li class="clearfix">
										
										<div class="about">
											<div class="name">Monica Wardes</div>
											<div class="status"> <i class="fa fa-circle online"></i> online </div>
										</div>
									</li>
									<li class="clearfix">
										
										<div class="about">
											<div class="name">kevin rodriguez</div>
											<div class="status"> <i class="fa fa-circle offline"></i> offline since Oct 28 </div>
										</div>
									</li>
								</ul>
							</div>
							<div class="chat">
								<div class="chat-header clearfix">
									<div class="row">
										<div class="col-lg-6">
											<a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
												
											</a>
											
										</div>
										<div class="col-lg-6 hidden-sm text-right">
											<a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
											<a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
											<a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
											<a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
										</div>
									</div>
								</div>
								<div class="chat-history">
									<ul class="m-b-0">
										<li class="clearfix">
											<div class="message-data text-right">
												<span class="message-data-time">Mónica Wardes 10:10 AM, Hoy</span>
												
											</div>
											<div class="message my-message"> Vamos Boca campeón! </div>
										</li>
										<li class="clearfix">
											<div class="message-data">
												<span class="message-data-time">Vicente Porter 10:12 AM, Hoy</span>
											</div>
											<div class="message my-message">Vamoo newbell!</div>                                    
										</li>                               
										<li class="clearfix">
											<div class="message-data">
												<span class="message-data-time">Kevin Rodriguez 10:15 AM, Hoy</span>
											</div>
											<div class="message my-message">Rajá de acá</div>
										</li>
									</ul>
								</div>
								<div class="chat-message clearfix">
									<div class="input-group mb-0">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fa fa-send"></i></span>
										</div>
											<input type="text" class="form-control" placeholder="Enter text here...">                                    
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</main>
            

        <!-- <footer class="bg-dark text-white text-center justify-content-center align-items-center"> -->
            <!-- place footer here -->
        <footer class="mt-5 bg-dark">
            <div class="row justify-content-center">
            <div class="col-auto mt-5  text-white">
                <ul
                class="list-unstyled footer-link footer-social d-flex justify-content-around"
                >
                <li>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="bi bi-youtube"></i></a>
                </li>
                <li>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                </li>
                </ul>
                <p>derechos reservados @2020</p>
            </div>
            
            </div>
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
            integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
        </script>
    </body>

</html>
